.newProperty {
  max-width: 550px;
  width: auto;
  margin: 40px auto 0;
}

.table {
  display: flex;
  width: auto;
  margin: 40px auto 0;
}

.thead {
  background: rgb(35, 124, 94);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.propertyDiv tbody tr:nth-child(2n) {
  background-color: rgb(238, 238, 238);
}

.propertyDiv tbody tr td:nth-child(1) {
  width: 21%;
}
.propertyDiv tbody tr td:nth-child(2) {
  width: 35%;
}
.propertyDiv tbody tr td:nth-child(3) {
  width: 14%;
}
.propertyDiv tbody tr td:nth-child(4) {
  width: 14%;
}
.propertyDiv tbody tr td:nth-child(5) {
  width: 16%;
}

.propertyDiv td {
  padding: 20px 0;
}

.propertyDiv th {
  padding: 10px 0;
}

.tableRow {
  /* display: block; */
  width: 100%;
  text-align: center;
  margin: 40px auto;
}

.success {
  color: hsl(135, 50%, 53%);
  font-size: 1.2rem;
  float: right;
}

.title {
  margin: 80px 0 40px;
}


.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: rgb(35, 124, 94);
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}