label {
  color: #067559;
  position: relative;
}

input, textarea{
  width: 100%;
  margin: 5px 0 15px 0;
  padding: 10px;
  border: 1px solid #b2b2b2;
  background: #eee;

  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
input {
  height: 40px;
}
textarea {
  height: 100px;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
    outline: none;
    border-color: #067559;
    background: white;
    box-shadow: 0 0 0 3px #619487;
}

.error {
    color: hsl(0, 94%, 50%);
    font-size: 0.725rem;
    margin-top: -.75rem;
}
